/*Custom*/

/* ----------   BEGIN General Styles TESTTTTTT   ---------- */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,700,300);
body{ font-family:  "Roboto", sans-serif !important; background: #000; padding-bottom: 0 !important; color : #ccc;}

/*Custom*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: "Roboto", sans-serif !important;
    line-height: 1.4em;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
    font-family: "Roboto", sans-serif !important;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.clearfix {
    clear: both;
}

#wrapper{ position: relative; width: 100%; overflow: hidden}

@media(min-width: 1200px){
    .container{ width: 1200px;}
}

button{ border: none;}
a{
    color: #89c441;
}
a:hover{
    text-decoration: none;
}

a:visited, a:focus, a:hover {
    color: #fff;
}

.main_header_innor {
    position: relative;
}
#menu {
    z-index: 9999999999999;
}
#menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}
#menu .btn--menu {
    /* padding-top: 21px; */
    width: 76px;
    height: 75px;
    background: url(../images/bg-btn-menu.jpg) repeat;
    color: #ffffff;
    outline: none;
}

#menu .dropdown--menu {
    left: 0;
    right: auto;
}
.dropdown--menu {
    display: none;
    position: absolute;
    z-index: 99;
    top: 100%;
    right: 0;
    width: 375px;
    background: #141414;
    padding: 17px 0;
    margin: 0;
}

#menu .dropdown--menu a {
    padding: 5px 5px 5px 37px;
    text-align: left;
}
.dropdown--menu a {
    display: block;
    padding: 5px 37px 5px 5px;
    color: #bfbfbf;
    line-height: 32px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: right;
    text-decoration: none;
    -moz-transition: 0.4s ease all;
    -webkit-transition: 0.4s ease all;
    transition: 0.4s ease all;
}
.dropdown--menu a:hover {
    color: #b3cb30;
}
button {
    border: none;
}

#menu .btn--menu span {
    display: block;
    font-size: 0;
    text-align: center;
    margin-bottom: 3px;
    -moz-transition: 0.4s ease all;
    -webkit-transition: 0.4s ease all;
    transition: 0.4s ease all;
}
#menu .btn--menu img {
    width: 35px;
    height: 6px;
}

#menu .btn--menu .txt--menu {
    padding-top: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
}
#menu .btn--menu span {
    display: block;
    font-size: 0;
    text-align: center;
    margin-bottom: 3px;
    -moz-transition: 0.4s ease all;
    -webkit-transition: 0.4s ease all;
    transition: 0.4s ease all;
}

#menu .dropdown--menu {
    left: 0;
    right: auto;
    display: none;
}
.dropdown--menu {
    display: none;
    position: absolute;
    z-index: 99;
    top: 100%;
    right: 0;
    width: 375px;
    background: #141414;
    padding: 17px 0;
    margin: 0;
}

#header {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 40px;
}

#header .header--top {
    z-index: 99;
}
#header .header--top {
    position: relative;
    z-index: 3;
    padding-top: 19px;
    height: 75px;
    width: 100%;
    background: #111111 url(../images/bg-header.jpg) 0 0 repeat-x;
}


#header .logo {
    z-index: 99999;
}
#header .logo {
    position: absolute;
    top: 7px;
    left: 50%;
    max-width: 75px;
    transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
}

#header .list--social {
    margin-top: -10px;
}

#header .list--social {
    float: right;
    margin-bottom: -2px;
    padding-right: 50px;
    font-size: 0px;
}

#header .list--social {
    float: none;
    margin-left: 110px;
    /* margin-top: -15px; */
}

#header .list--social li {
    margin-right: 15px;
    display: inline-block;
}

#header .list--social img {
    width: 55px;
    cursor: pointer;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

#header .language {
    position: absolute;
    top: 37px;
    right: 50%;
    margin-right: 96px;
    z-index: 55;
}

#header .language a.active {
    color: #89c441;
    font-weight: 700;
}
#header .language a {
    color: #ffffff;
    text-decoration: none;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}

#header .hotline {
    position: absolute;
    top: 30px;
    left: 50%;
    z-index: 56;
    margin-left: 96px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

#header .header--right {
    position: absolute;
    top: 20px;
    right: 35px;
}

#header .header--right {
    top: 10px;
}
#header .header--right {
    z-index: 99999999999;
}

#header .line-header {
    position: absolute;
    top: 75px;
    left: 50%;
    transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
}
img {
    max-width: 100%;
    height: auto;
}

#header .top--link {
    color: #ffffff;
    font-weight: 300;
    text-decoration: none;
    display: inline-block;
}

.header--right img {
    width: 55px;
    cursor: pointer;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.top--link-mobile {
    display: none;
}
.header--right .already--login {
    display: inline-block;
}

header--right .already--login li:first-child {
    padding-left: 0;
}
.header--right .already--login li {
    display: inline-block;
    font-size: 25px;
    line-height: 37px;
    text-transform: uppercase;
    position: relative;
    padding-left: 20px;
}


.header--right .already--login a {
    font-weight: 200;
    color: #fff;
    text-decoration: none;
    transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}

.header--right .already--login .user {
    font-weight: 600;
    color: #89c441;
}
.header--right .already--login li:nth-child(2):before {
    content: "|";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
    text-align: center;
}
#header .btn--dropdown-menu a {
    color: #fff;
    text-decoration: none;
}

#header .btn--dropdown-menu {
    display: inline-block;
    line-height: 36px;
    margin-left: 15px;
    width: 120px;
    height: 36px;
    text-align: center;
    background: #2a3035;
    cursor: pointer;
}

#header .btn--dropdown-menu {
    width: 120px;
    display: none;
}

#quick-tickets, #quick-tickets-details {
    position: relative;
}
#banner, .content {
    max-width: 1170px;
    margin-bottom: 40px;
    background: #000;
    border: 2px solid #516d2d;
    width: 100%;
}
#banner{
    height: auto;
    padding: 20px;
    background: #000;
	overflow:unset;
}
.generic-image-carousel .images img.gallery-image, .generic-image-carousel .images embed.gallery-image {
	width : auto !important;
	height : auto !important;
}
.generic-image-carousel {
    margin-bottom: 0;
}
#quick-tickets {
    width: 33.33%;
    float: left;
    background: none;
}
#quick-tickets h2 {
    font-size: 24px;
}
#qt-ad .images {
    width: 100%;
    margin : 0;
    height: auto;
}

#quick-tickets button {
    width: 140px;
    height: 50px;
}
#quick-tickets button em, #quick-tickets button:hover em {
  display: inline;
  margin-left: 2px;
  font-size: 17px;
  color: #fff;
}
#quick-tickets button:hover {
    background: #71a239;
    border-color: #71a239;
    color: #fff;
    border-radius: 5px;
    font-size: 17px;
    border: 0;
}

#quick-tickets button {
  background: #3b3b3b;
  border-radius: 5px;
  color: #fff;
  border: 0;
}

#banner {
  border: 2px solid #516d2d;
}

#quick-tickets, #quick-tickets-overlay {
  background: #000;
}

#quick-tickets h2 {
    color: #fff;
}

#quick-tickets p {
    color: #fff;
    font-style: italic;
    margin: 5px 10px;
    font-size: 12px;
}
h2 em {
    display: inline;
}
#cinema-list .list-item .item-details-inner .title-wrapper .item-title,
#home-side-bar .loyalty-login h3, 
.content h2, .content h2 em,.content h3, .ticketing-signin-widget .sign-in-form-toggler, h4.session-overview-line {
    color: #89c441;
}
.signin-widget .ticketing-signin-widget, #SelectSeatsPanel .ticketing-signin-widget{
display : none !important;
}
.content h2, .content h2 em,.content h3 {
    font-size: 26px;
    margin: 0;
}
    
.cart h2, .cart h2 em {	
    font-size: 18px;
    height: auto;
    padding: 10px;
    color: #fff;
    font-weight: 600;
}

.home-movies, #home-center-ad {
    width: calc((100%) - 270px);
}

#home-side-bar .loyalty-login {
    padding: 10px 20px;
}
.content h3, h4.session-overview-line {
    font-size: 20px;
}
.loyalty-login li {
    padding-left: 0;
}
.content h2 {
    margin-bottom: 20px;
}

.scrollbox-viewport {
    background: #14252d;
}

.scrollbox-container, .scrollbox-viewport {
    height: 320px !important;
    border: 0;
}

.scrollbox-view {
    padding: 20px 0;
}
.movie {
    height: 280px !important;
}
a.movie:hover {
    text-decoration: none !important;
}
.movie-poster {
    height: 200px !important;
    width: 140px !important;
}

.scrollbox-container .name img {
    display: none;
}
.scrollbox-container .movie span.name {
    background: none;
    color : #fff;
    padding: 0;
    display: block;
    font-size: 14px;
}
.scrollbox-container .movie span {
    display: inline-block;
    background: #45ab3c;
    color: #fff;
    padding: 5px 20px;
    width: auto;
    font-size: 18px;
    border-radius: 5px;
}

#home-coming-soon.scrollbox-container .movie span {
    font-size: 10px;
    padding: 5px;
}
#home-coming-soon.scrollbox-container .movie span.name {
    font-size: 14px;
}
#home-side-bar .loyalty-login {
    background: #333;
    margin-bottom: 13px;
    box-shadow: none;
}
.loyalty-login {
    overflow: auto;
    width: 100%;
}


#home-side-bar .loyalty-login h3 em {
    color: #89c441;
    display: inline;
    margin-left: 7px;
}

/* film details */
.film-info {
	min-height: unset;
}
.film-info .film-info-item .boxout-line-item label,
.film-info .boxout-line-item label {
    color: #CDDC39;
}
.film-info .film-header {
    margin-left: 0;
}
.page-header-boxout .film-info .film-header .boxout-title, .page-header-boxout .description-box .boxout-title, .page-header-boxout .boxout-title {
    position: relative;
}
.page-header-boxout {
    border: 0;
    padding: 0;
}
.page-header-boxout .film-info {
    margin: 0;
}
.page-header-boxout .boxout-blurb {
    font-size: 14px;
    line-height: 22px;
}
.film-rating {
    border: 0;
}
.censor-rating {
    display: none;
}
.movies-detail {
    margin-top: -15px;
    margin-left: -15px;
}

.page-header-boxout {
    border: 0;
    padding: 0;
}
.page-header-boxout {
    position: static;
    margin-top: 10px;
    min-height: unset;
}
.cinema-detail .page-header-boxout{
    width: 100%;
}
.page-header-boxout {
    width: 100%;
    color: #fff;
}

#show-times {
    padding: 15px;
    background: #14252d;
    margin-bottom: -15px;
    margin-right: -15px;
    color: #fff;
}
#show-times h2 {
    width: 100%;
}
#show-times p,#show-times .film-list .film-item .film-showtimes .session .session-date {
    color: #fff;
}

#show-times .film-list .film-item .advance-sale-date~.session-times, #show-times .film-list .film-item .film-showtimes .session .session-times .session-time {
    border: 0;
    background: #000;
    color: #fff;
}

#show-times .film-list .film-item .advance-sale-date~.session-times:hover, #show-times .film-list .film-item .film-showtimes .session .session-times .session-time:hover {
    background: #fff;
    color: #000;
}
#show-times .film-list .film-item .toggle-future-dates {
    color: #fff;
}

#show-times .film-list .film-item {
    border: 1px solid #1d343f;
}

#trailer {
    height: 400px;
    max-height: 400px;
}

.smart-image .fallback-image {
    visibility: initial;
}
.play-bar button.user-action {
    bottom: 10px;
	background-repeat: no-repeat;
    background-size: cover;

}

/* select ticket */
#viewport .content {
    border: none;
}

#select-tickets{
    margin-top: 20px;
}
#breadcrumb {
    background: #4fc245;
    height: 40px;
    width: 100%;
    padding: 10px;
}
#breadcrumb .disabled, #breadcrumb, #breadcrumb input,
.session-overview, #select-tickets #SelectTicketsPanel, 
#breadcrumb a, #breadcrumb .selected, .countdown{
    color: #fff;
}
.countdown em {
    color: #89c441;
}
.cart-order {
    background: #333;
	min-height: 150px;
}
.cart-order .promotion, .cart-order .total, .cart-order .cart-session-information, .cart-order {
    color: #fff;
}

.cart-order .cart-session-information .name {
    font-weight: normal;
    color: #89c441;
}
.ticket-list li.item label span, #standard .price, .ticket-list .item > *.last-child {
	font-size : 12px;
}
.categories li {
    padding: 10px;
}
.categories .ui-tabs-selected {
    background: #8BC34A;
}

.categories .ui-tabs-selected:before {
    content: ' ';
    border-color: transparent #8BC34A transparent transparent;
    border-color: transparent #8BC34A transparent transparent;
}
.category-tabs-items, .categories {
    border-color: #8BC34A;
}

.icon {
    position: static;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

.plus-minus-numeric .icon {
    background: none;
    color: #8BC34A;
    font-weight: bolder;
    font-size: 18px;
    display: inline-block;
    padding: 5px 10px;
    width: auto;
    height: auto;
}

.icon-plus:before {
    content: "\002b";
}

.icon-minus:before {
    content: "\2212";
}

#SelectSeatsPanel, .session-overview {
    width: calc((100%) - 300px);
}
.cart-order {
    width: 300px;
}
.cart-order .item-detail {
    width: auto;
}
.cart-order .cost {
    width: auto;
}
.cart-order .name {
    width: 160px;
}
.cart-order .quantity {
    color: #8BC34A;
}
.cart-order .cart-sessions .cart-ticket, .cart-order .cart-sessions .cart-concession.cart-gift {
    padding-left: 25px;
    padding-top: 10px;
    margin-bottom: 5px;
}
#select-tickets #SelectTicketsPanel #select-tickets-list-wrapper {
    width: auto;
}
.cart-order .cart-footer {
    padding: 10px;
    border-top: 2px solid rgba(221, 221, 221, 0.12);
}
.plus-minus-numeric .quantity {
    border: 1px solid #4a4a4a;
}
.categories li a {
    border: 0;
}
#concessions .category-tabs-items .tab {
	color : #000;
}

#concessions .category-tabs-items .tab .icon-clear {
	display : none;
}
.concession-tabs .item-footer {
	background : #fff;
}
.concession-tabs .active .item-footer-quantity {
    background: #eae7e6;
}
/* select seat */
#SelectSeatsPanel, .session-overview, #confirmForm, #frmOrderCart{
    color: #fff;
}
.Seating-Control {
    background: #14252d;
}
.Seating-Screen {
    margin-bottom: 20px;
    margin-top: 10px;
}
.Seating-RowLabelContainer {
    color: #fff;
}
/*confirm */
.cart {
    background: #333;
}
.cart-summary-order dd:first-child {
    color: #8BC34A;
    padding: 5px 30px;
    margin-top: 0;
}
.cart-summary dd.movie-name {
    font-weight: bold;
    padding: 0 !important;
}
.cart-summary-order .icon-clear{
    top: 5px;
}
.cart h2 {
    background: #333;
    border-bottom: 1px solid #fff;
}
.cart h2, .cart h2 em {
    font-size: 22px;
    color: #fff;
}

.cart .alt {
    background: #2a2a2a;
}
.cart-sessions li {
    position: relative;
}
.cart-summary-order dd {
    line-height: 24px;
    margin-top: 10px;
}
.cart-summary tr:first-child th{
    color: #8BC34A;
}
.cart-ticket td, .cart-concession td {
    padding: 15px 10px;
}
.radio-button-group {
    border: 0;
}
input[type=checkbox], input[type=radio]{
    margin: 0;
    margin-right: 5px;
}

.radio-button-group input:checked + label::after {
    border: solid #fff;
    border-width: 0 0.2em 0.2em 0;
    position: absolute;
    right: 1.1em;
    top: 47%;
}
.cart-summary th:first-child, #cart-summary td:first-child {
    padding-left: 10px;
}
.cart-summary {
    max-width: 100%;
}


#timeoutpage p {
    color: #fff;
}

/* movies list */
#movies-list{
    margin-right: 0;
}
#movies-list .list-item.movie {
    height: auto !important;
    padding: 20px 10px;
    border: 1px solid #333;
}
#movies-list .list-item .item-details-inner .title-wrapper .item-title {
    color: #8BC34A;
}
#movies-list .list-item .movie-actions .main-action a {
    border: none;
    color: #8BC34A;
    font-size: 16px;
}
#movies-list .list-item .item-details-inner .title-wrapper a:hover, #show-times .film-list .film-item .film-showtimes .film-header a:hover{
    text-decoration: none;
}
#movies-list .list-item .movie-actions {
    margin-left: 135px;
    height: 34px;
    overflow: hidden;
    background: none;
    border : 0;
}

#movies-list .list-item .movie-actions .main-action {
    border: 0;
}
.list-item .main-action {
    float: none;
}
#movies-list .list-item .item-details {
    margin-left: 130px;
    height: 145px;
    padding-left: 8px;
    padding-right: 8px;
}
.list-item, .list-item:first-child {
    border-color: #141313;
}
/* cinema list */ 
#cinemas {
    margin: 0;
}
.contact-cinema .contact-address, .contact-cinema .contact-other {
    float: none;
}
.contact-cinema a, .contact-cinema a:visited {
    color: #fff;
}
#cinema-list .list-item .main-action {
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
    font-size: 14px;
    color: #38a8fd;
    padding-left: 15px;
    border: 1px solid #4a4a4a;
    margin: 0 12px 10px 0;
}
#cinema-list .list-item .main-action {
    border: none;
    float: none;
    position: relative;
    line-height: 14px;
    padding-left: 0;
}

#cinema-list .list-item .main-action a {
    border: none;
    color: #fff;
    font-size: 16px;
}
.list-item, .list-item:first-child {
    border-color: #141313;
}
#cinema-list .list-item {
    border-top: 1px solid #4a4a4a;
    padding-top: 5px;
    padding-bottom: 5px;
}
#cinema-list .list-item .item-details-inner, #cinema-list .list-item .item-details{
    border : none;
}

.generic-image-carousel .images img.other-image, .generic-image-carousel .images embed.other-image {
    display: none;
}

/*cinema details*/
.cinema-detail #show-times {
    margin-left: -15px;
    margin-top: 30px;
}

.cinema-detail .smart-image .fallback-image{
    width: 100%;
}
.page-header-boxout .description-box .boxout-title {
    font-size: 26px;
    left: 0;
}
.page-header-boxout .description-box h6, .cinema-detail .page-header-boxout .description-box h6 {
    font-weight: bold;
    font-size: 18px;
    color: #fff;
}
.page-header-boxout .description-box p {
    color: #fff;
    font-size: 14px;
}

.cinema-detail .page-header-boxout .description-box {
    margin: 0;
}

.page-header-boxout .description-box .other-information {
    font-size: 14px;
}

.page-header-boxout .description-box {
    position: static;
    background: #333;
    padding: 30px 10px;
}

.cinema-detail .boxout-title em {
    display: none
}

#show-times .film-list .film-item:first-child {
    padding-top: 5px;
}

#show-times .film-list .film-item {
    border-bottom: 0;
}

.page-action {
    vertical-align: bottom;
    display: inline-block;
    margin: 0;
    padding: 3px;
    color: #f5f5f5;
    background-color: #e01027;
    cursor: pointer;
    font-family: "Work Sans",sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    border-style: none;
    border-radius: 5px;
}
#footer {
    position: relative;
    padding-top: 163px;
    background: url(../images/bg-grid.jpg) top center repeat;
    color: #fff;
    font-size: 0px;
    margin-top: 85px;
    border : 0;
}
#footer {
    padding-top: 0px;
}

#footer .logo {
    position: absolute;
    top: 0px;
    left: 50%;
    padding-top: 26px;
    margin-left: -100px;
    width: 200px;
    height: 163px;
    text-align: center;
    background: url(../images/footer-cured.png) 0px 0px no-repeat;
}
#footer .logo {
    top: -70px;
}
#footer .col-md-3 {
    display: inline-block;
    float: none;
    vertical-align: top;
}
#footer .title {
    padding-bottom: 8px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    position: relative;
    margin-top: 80px;
    color: #fff;
}

#footer .title:after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 37px;
    height: 3px;
    background: #c3cc26;
}
#footer .menu {
    padding-bottom: 35px;
}

#footer .menu li {
    margin-bottom: 11px;
}
#footer .menu a {
    color: #c3cc26;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}

#footer .copyright {
    border-top: 2px solid #343434;
    padding: 26px 0px 26px 0px;
    color: #fff;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
}
h2.error-message {
	text-align: center;
	margin : 20px auto;
}
/* overlay */
#page-overlay{
    opacity: 0.7;
    color: #000;
}

#quick-tickets-details, #quick-tickets-details dl {
    width: 100%;
}

#quick-tickets-details dl dt{
    width:30%;
}
#quick-tickets-details dl dd {
    width: 70%;
}

#quick-tickets-selection {
    width: 100%;
    top: 260px;
    left: 0;
}

#quick-tickets-selection .movie {
    height: 260px !important;
    width: 190px;
}
#quick-tickets-selection .scrollbox-viewport:after, .description-box:after{
    content:  " ";
    clear: both;
    display: table;
}
#quick-tickets-selection .scrollbox-viewport {
    height: 350px !important;
}
#quick-tickets-selection .movie img {
    display: block;
    height: 220px;
    margin: 9px auto 6px auto;
    width: 140px;
}
/*quick tickets*/
#quick-tickets, #quick-tickets-overlay {
    background: #14252d;
}

.compare-sessions {
    margin-left: -15px;
}
.compare-sessions #movies-list {
    margin-left: 15px;
}
#show-times .film-list .film-item .rating-image {
    display: none;
}
#show-times .film-list .film-item .film-showtimes .film-header h3.film-title {
    color: #8BC34A;
}
#show-times .film-list .film-item {
    border-right: 0;
    border-left: 0;
    padding: 5px 10px;
}
#quick-tickets-selection .selection{
    height: 340px !important;
}
#quick-tickets-selection .selection, #quick-tickets-selection .toolbar {
    border: 0;
    border-top: 1px solid #1d3039;
}

#quick-tickets-selection .toolbar {
    background: #14252d;
    height: 50px;
    padding: 10px 0;
}

#quick-tickets-selection .toolbar .next:hover {
    color: #00BCD4;
}

#quick-tickets-selection .toolbar .next span:hover,#quick-tickets-selection .toolbar .next span {
    text-decoration: none;
}

#quick-tickets-selection .toolbar .search input {
    background: none;
    width: 250px;
    padding: 0 20px 0 5px;
    color: #333;
    background: #fff;
}

#quick-tickets-details dl dt {
    font-size: 18px;
    line-height: 26px;
}
#quick-tickets-details dl dd{
    color: #fff;
    font-size: 14px;
}
#quick-tickets-details h3, #quick-tickets-details h3 em {
    display: inline-block;
    font-size: 25px;
    color: #8BC34A;
    padding: 10px;
    background: none;
}
#quick-tickets-selection .movie:hover,
#quick-tickets-selection .selected{
    background: #607D8B;
}

#quick-tickets-overlay .close {
    z-index: 10000;
    opacity: 1;
}

#movies-list .list-item .item-details-inner p {
    color: #ccc;
    font-size: 13px;
    line-height: 18px;
}

#quick-tickets-selection .toolbar button.next {
    height: 45px;
}
#quick-tickets-selection .column{
    width: 350px;
}
#quick-tickets-selection .selectable {
    height: 30px;
    width: 350px;
}
#quick-tickets-selection .selectable span {
    width: 300px;
}
#quick-tickets-selection .selectable:hover {
    color: #ccc;
}
#quick-tickets-overlay button.close{
    color: #fff;
    box-shadow: none;
    top: 5px;
}
#quick-tickets-overlay .close span, #quick-tickets-overlay .close span:hover {
    background: none;
}
#quick-tickets-overlay .close span:after {
    content: " x";
}
.scrollbox-left-button, .scrollbox-right-button {
    cursor: pointer;
}
.page-header-boxout .boxout-title {
    color: #89c441;
}
.page-header-boxout .film-info .film-header .boxout-title, .page-header-boxout .description-box .boxout-title, .page-header-boxout .boxout-title {
    height: auto;
}
.page-header-boxout:before {
    display: none;
}

.page-header-boxout{
        padding: 0 15px;
    }
 #widgetTitleLabel , #concessions #widgetTitleLabel{
	display: none;
}
.concession-tabs .active .plus-minus-numeric .icon-plus, .concession-tabs .active .plus-minus-numeric .icon-minus {
background: none;	
}
.concession-tabs .item {
	padding:40px 0;
	height: auto;
}
.plus-minus-numeric {
	height: 34px;
	padding : 2px;
}
.plus-minus-numeric > * {
	background:#fff;
	color : #000;
}
.plus-minus-numeric .icon-plus , .plus-minus-numeric .icon-minus{
	border-radius: 0;
}
.plus-minus-numeric .icon-clear {
	display : none;
}

.radio-button-group label{
	width : 200px;
}
#order-details {
	background:#333;
}
#order-details .total, #order-details .total label {
	color:#fff;
}
.signin-widget, .ticketing-signedin-widget {display: none;}

@media (max-width: 1449px) {
    #header .language {
        margin-right: 75px;
        top: 25px;
    }

    #header .hotline {
        margin-left: 75px;
        top: 25px;
    }
    .movies-detail .col-xs-12 {
        padding-right: 0;
    }
    
    
}

@media (max-width: 768px) {
    #quick-tickets {
        width: 100%;
    }
    #home-side-bar {
        display: none;
    }
    .home-movies, #home-center-ad{
        width: 100%;
    }

    #trailer {
        height: 140px;
    }
    .list--social,#header .header--right {
        display: none;
    }
    #header .language {
        margin-right: 50px;
    }

    #header .hotline {
        font-size: 13px;
    }
    #SelectSeatsPanel, .session-overview {
        width: 100%;
        margin-top: 10px;
    }

    .cinema-detail .page-header-boxout .description-box .other-information {
        margin-left: 0;
    }
    .page-header-boxout {
        padding: 0;
    }
    #show-times .film-list .film-item .movie-image, #show-times .film-list .film-item .movie-image .image-outer {
        float: none;
    }
    #show-times .film-list .film-item .film-showtimes {
        margin-left: 0;
    }
    #show-times .film-list .film-item .toggle-future-dates {
        float: none;
    }

    .order-details, .cart-order {
        float: none;
        width: 100%;
    }

    .categories .ui-tabs-selected:after, .categories .ui-tabs-selected:before {
        display: none;
    }
    
    .ticket-list > * {
        margin : 0;
    }
    #select-tickets-list-wrapper .categories li {
        float: left;
    }
    .ticket-list .grid-4-col h6, .grid-4-col .item > * {
        width: 25%;
    }
	#standard .price {
		width : 25% !important;
	}
    .ticket-list .grid-4-col h6.desc, .grid-4-col .item .desc {
        width: 25%;
    }
    #divOrderTickets {
        text-align: left;
    }
    .ticket-list {
        border: 0;
    }
    .ticket-list li {
        border-bottom: 1px solid #333;
        padding: 5px 0;
    }

    .page-action {
        margin-bottom: 5px;
		font-size : 16px;
    }
	#home-center-ad .images {
		width : 100%;
		height: auto;
	}
	.ticket-list .item > *.last-child{
    text-align: right;
    display: inline-block;
    padding-top: 10px;
}
}

@media screen and (min-height: 770px) {.content {
    min-height: auto;
}
}
@media screen and (min-height: 760px) {
.content {
    min-height: auto;
}
}

.Seating-Screen img {
    height: 30px;
}

/**
search bar
*/

}
.main_header_innor {
    position: relative;
}
img {
    max-width: 100%;
    height: auto;
}
.showtimes .list--times .tab--showtimes-controls li {
    text-align: center;
}
.close_header {
    position: absolute;
    display: block;
    position: absolute;
    right: 30px;
    top: 30px;
    display: none;
}
.close_header img {
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition:         transform .8s ease-in-out;
}
.close_header img:hover {
   -webkit-transform: rotate(360deg);
     transform: rotate(360deg);
}
.header-seach-v3.active .close_header {
   display: block;
}
.header-seach-v3 {
    position: absolute;
    background: #000000;
    z-index: 980000;
    width: 100%;
    min-height: 915px;
    display: none;
}
.header-seach-v3.active {
    display: block;
}
.header-seach-v3 .search-mvtp {
    position: absolute;
    left: 50%;
    margin-left: -300px;
    width: 300px;
    top: 12px;
    text-align: center;
}
.header-seach-v3 .search-mvtr a {
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}
.header-seach-v3 .search-mvtr {
    position: absolute;
    left: 50%;
    margin-left: -1px;
    top: 12px;
    text-align: center;
    width: 300px;
}
.page-template-templatelichchieu_phim-php .section--promotion{
    padding-top: 0;
}

.header-seach-v3 .search-mvtr a,.header-seach-v3 .search-mvtp a {
    width: 300px;
    background: transparent;
    border: none;
    border-radius: 3px;
    color: #666;
    padding: 3px 15px;
    text-decoration: none;
    display: block;
}
.header-seach-v3 .search-mvtp a {
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}
.main-search .row {
    margin-right: 0px;
    margin-left:  0px;
}
#header .btn--dropdown-menu {
    width: 120px;
}
#header .btn--dropdown-men:hover {
    opacity: 0.7;
}
#header .btn--dropdown-men:hover a {
    color: #50b647;
}
#header .btn--dropdown-menu a {
    color: #fff;
    text-decoration: none;
}

.header-seach-v3 .search-mvtr a:hover,.header-seach-v3 .search-mvtp a:hover {
    opacity: 0.7;
}
.main-search {
    padding-top: 90px;
    width: 1486px;
    margin: 0 auto;
    padding-bottom: 50px;
    max-width: 100%;
}
.title-search {
    color: #d4dd29;
    font-size: 30px;
    text-transform: uppercase;
}
.search-title-container li {
    display: inline-block;
}
.search-title-container li a {
    text-decoration: none;
}
.search-title-container li a:hover {
    color: #d4dd29;
}
.search-title-container li:first-child:after, .tab-search-rap .search-title-container li:after{
    content: "|";
    color:#fff;
    font-size: 29px;
    padding-left: 15px;
    padding-right: 15px;
}
.tab-search-rap .search-title-container li:last-child:after {
    display: none;
}
.search-title-container .title-search {
    color: #fff;
}
.search-title-container .title-search.active {
    color: #d4dd29;
}
.container-search-header {
    padding: 15px;
}
.container-search-header ul li {
    display: inline-block;
    width: 32%;
    padding: 5px 5px;
    padding-bottom: 20px;
}
.container-search-header ul li img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}
.container-search-header ul li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
display: inline-block;
}
.container-search-header ul li a:hover {
    text-decoration: none;
    color: #e7e7e7;
}
.lich-chieu-phim h3 {
    text-align: center;
    text-transform: uppercase;
    margin: 10px 5px;
    border-bottom:2px solid #608a2e;
    padding: 15px 0;
}
.single .showtimes {
    background: none;
    position: inherit;
}
.single .bhd-notfound{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.showtimes .list--showtimes-cinema .item--showtimes-cinema .info {
    height: auto;
}
.header-seach-v3 a:hover {
color: #d4dd29 !important;
}

#header .list--social img:hover {
	-webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}


@media only screen and (max-width: 767px) {
    .concession-tabs .item {
        margin-bottom: 10px;
        width: 49%;
    }
}