@{
    ViewBag.Title = "About";
}
<h2>About us</h2>
<h3>Cinema management system</h3>

<p>
    # PRN292_CINEMA_PROJECT
    This project made by my team of PRN292 class at FPT University With language C#, we make the cinema system with client interface and manager interface. <br/>
    The cinema system will simulate activity of real cinema system..
</p>
