@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to </h1>
    <h1>CINEMA MANAGEMENT</h1>
    <p class="lead">This website for admin to management a cinema system.</p>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Guide to using this cinema system
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Our company</h2>
        <p>Information about out company.</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Other</h2>
        <p>Other information about system.</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>